<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>myServlet2</display-name>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.briup.web.servlet.basic.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register2</servlet-name>
    <servlet-class>com.briup.web.servlet.basic.Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register2</servlet-name>
    <url-pattern>/register2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forward</servlet-name>
    <servlet-class>com.briup.web.servlet.forward.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forward</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forwardA</servlet-name>
    <servlet-class>com.briup.web.servlet.forward.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forwardA</servlet-name>
    <url-pattern>/forwardA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>A</servlet-name>
    <servlet-class>com.briup.web.servlet.forward.A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/A</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>B</servlet-name>
    <servlet-class>com.briup.web.servlet.forward.B</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B</servlet-name>
    <url-pattern>/B</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>redirect</servlet-name>
    <servlet-class>com.briup.web.servlet.redirect.Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>redirectA</servlet-name>
    <servlet-class>com.briup.web.servlet.redirect.ServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirectA</servlet-name>
    <url-pattern>/redirectA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>redirectB</servlet-name>
    <servlet-class>com.briup.web.servlet.redirect.ServletB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirectB</servlet-name>
    <url-pattern>/redirectB</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>session</servlet-name>
    <servlet-class>com.briup.web.servlet.scope.SessionNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>session</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.briup.web.listener.RequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.briup.web.listener.ApplicationListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>